<div class="jumbotron">
  <div class="container">
  <h1>Instagram Data Visualizations</h1>
    <p class="lead">Based on data gathered from your Instagram account: <a href="http://www.instagram.com/{{user.name}}">{{user.name}}</a></p>
  </div>
</div>

<div class="container">


<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
       <h3 class="panel-title">C3 Visualization #1</h3>
       </div>
      <div class="panel-body">
      <p>Plots the amount of photos uploaded by those you follow.</p>
      <a class="btn btn-default btn-xs" href="/c3visualization" role="button">View</a>
  </div>
</div>
 </div> 
 <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
       <h3 class="panel-title">D3 Visualization #1</h3>
       </div>
      <div class="panel-body">
      <p>Plots the amount of photos uploaded by those you follow. Allows you to sort the data from most to least uploaded photos.</p>
      <a class="btn btn-default btn-xs" href="/visualization" role="button">View</a>
  </div>
</div>
 </div>         
    </div> 

    <div class="row">
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
       <h3 class="panel-title">C3 Visualization #2</h3>
       </div>
      <div class="panel-body">
      <p>Ranks how popular those you follow are by giving them a followers to following ratio.</p>
      <a class="btn btn-default btn-xs" href="/newc3visualization" role="button">View</a>
  </div>
</div>
 </div> 
 <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
       <h3 class="panel-title">D3 Visualization #2</h3>
       </div>
      <div class="panel-body">
      <p>Plots the amount of likes your pictures have received in order to better analyze your social media standing. This graph is extremely accurate due to it's use of Unix time.</p>
      <a class="btn btn-default btn-xs" href="/newvisualization" role="button">View</a>
  </div>
</div>
 </div>         
    </div>      
</div>
