<div class="jumbotron">
  <div class="container">
  <h1>Instagram Data Visualizations</h1>
    <p class="lead">Based on data gathered from <a href="http://www.instagram.com/{{user.name}}">{{user.name}}</a>.</p>
  </div>
</div>

<div class="container">


<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
       <h3 class="panel-title">C3 Visualization #1</h3>
       </div>
      <div class="panel-body">
      View # of uploaded pics of those I follow.
      <br><br>
      <a class="btn btn-default btn-xs" href="/c3visualization" role="button">View</a>
  </div>
</div>
 </div> 
 <div class="col-xs-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
       <h3 class="panel-title">D3 Visualization #1</h3>
       </div>
      <div class="panel-body">
      View # of uploaded pics of those I follow.
      <br><br>
      <a class="btn btn-default btn-xs" href="/visualization" role="button">View</a>
  </div>
</div>
 </div>         
    </div> 

    <div class="row">
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
       <h3 class="panel-title">C3 Visualization #2</h3>
       </div>
      <div class="panel-body">
      View...
      <br><br>
      <a class="btn btn-default btn-xs" href="/newc3visualization" role="button">View</a>
  </div>
</div>
 </div> 
 <div class="col-xs-6">
    <div class="panel panel-info">
      <div class="panel-heading">
       <h3 class="panel-title">D3 Visualization #2</h3>
       </div>
      <div class="panel-body">
      View...
      <br><br>
      <a class="btn btn-default btn-xs" href="/newvisualization" role="button">View</a>
  </div>
</div>
 </div>         
    </div>      
</div>