<div class="jumbotron">
  <div class="container">
	<h1> Viewing # of uploaded pics of those I follow using C3JS </h1>
  </div>
</div>
<div class="container">
<div id="chart"></div>
</div>
<script src="js/c3visualization.js"></script>
