<div class="jumbotron">
  <div class="container">
    <h1>Instagram Data Visualizer</h1>
	<p class="lead">Created by Christian Memije & Mayone Rajan</p>
  </div>
</div>
<div class="container">
<a class="btn btn-default" href="/auth/instagram" role="button">Login with Instagram</a>
	</div>