<div class="container">
<div class="page-header">
<br>
  <h1>New D3 Visualization <small> Using D3</small></h1>

<script src="js/d3.tip.v0.6.3.js"></script>
<script src="js/newvisualization.js"></script>