<div class="container" id ="entirepage">

<div class="page-header">
  <h1># of Uploaded pictures of those that you follow. <medium> (D3) </medium></h1>
</div>
<form role="form">
    <div class="checkbox">
      <label><input type="checkbox">Click to Sort</label>
    </div>
</form>

<div id="chart"></div>
</div>
<script>
	var opts = {
  lines: 13, // The number of lines to draw
  length: 20, // The length of each line
  width: 2, // The line thickness
  radius: 30, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: '#000', // #rgb or #rrggbb or array of colors
  speed: 1, // Rounds per second
  trail: 60, // Afterglow percentage
  shadow: false, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: '50%', // Top position relative to parent
  left: '50%' // Left position relative to parent
};
var target = document.getElementById('chart');
var spinner = new Spinner(opts).spin(target);
</script>
<script src="js/visualization.js"></script>
