<!--<div id="cover"></div>-->
<div class="container">

<div class="page-header">
  <h1># of Uploaded Pics of those I Follow. <small> Using D3</small></h1>
</div>
<form role="form">
    <div class="checkbox">
      <label><input type="checkbox">Click to Sort</label>
    </div>
</form>

<div id="chart"></div>
</div>
<script src="js/visualization.js"></script>
<script>
$(window).load(function(){
    $('#cover').fadeOut(1000);
})
</script>
