<div id="cover"></div>
<h1> Media Count of Your Instagram Followers </h1>
<div id="chart"></div>
<script src="js/visualization.js"></script>
<script>
$(window).load(function(){
    $('#cover').fadeOut(1000);
})
</script>
