body { padding-top: 50px; }
.panel-primary {
  border-color: #222222;
}
.panel-primary>.panel-heading {
  background-color: #222222;
  border-color: #222222;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  background-color: #3F51B5;
}

.navbar-right {
  background-color: red;
}